<a href="https://colab.research.google.com/github/Nunticha24/DWDM21/blob/main/Data101_(chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู๋มน textbox จะเป็นภาษา Markdown

ข้อดีหนึ่งของ python คือมี package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู๋ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [1]:
import pandas # วิธ๊เรียกใช้ package คือ import ตามด้วยชื่อ package

In [2]:
import pandas as pd # เหมือนกับข้างบนอต่ว่าตั้งชื่อให้ package ที่โหลดมาใหม่ว่า ยก

ไฟล์ .csv (CSV = comma separated values) เป็นไฟล์หลักที่เราจะใช้กันในวิชานี้

In [3]:
data_df = pd.read_csv('data.csv')

In [4]:
data_df

    name   age       city
0    Tom    27  Khon Kaen
1   Paul    15    Bangkok
2  Sarah    49     London

In [5]:
data_df2 = pandas.read_csv('data.csv') # แบบที่ 2
data_df2

    name   age       city
0    Tom    27  Khon Kaen
1   Paul    15    Bangkok
2  Sarah    49     London

# Basic Python
## variable

ข้อกำหนดในการตั้งชื่อตัวแปร


1.   ชื่อห้ามมีเว้นวรรค
2.   พยายามใช้ภาษาอังกฤษ
3.   ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
4.   ห้ามใช้ตัวเลขเป็นตัวหน้า

In [6]:
variable_a = 12
variable_b = 'abcde' # ' เรียกว่า quote
variable_c = variable_a

In [7]:
variable_a

12

In [8]:
variable_b

'abcde'

In [9]:
variable_c

12

In [11]:
variable a = 6 # ชื่อห้ามมีเว้นวรรค

SyntaxError: ignored

In [12]:
# พยาายามใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้
ตัวแปร = 3
ตัวแปร

3

In [13]:
# ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
V_a = 1
V_a = 2
print(V_a)
print(V_a)

2
2

In [14]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [15]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [16]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1

In [17]:
print(variable1)

1

In [18]:
variable_a = 12
variable_b = 'abcde' # ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" # " เรียกว่า double quote

In [19]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [20]:
variable_a + variable_b

TypeError: ignored

In [21]:
print(variable_b + variable_4)

abcdeKKU

## Casting int() float() str()

In [22]:
print(variable_x)
print(int(variable_x)) # แปลงเป็นจำนวนเต็ม

-29.200000000000003
-29

In [23]:
V_X = (str(variable_x))
print(V_X)

-29.200000000000003

In [24]:
V_X + variable_a # ตัวเลขมาบวกกับ str ไม่ได้

TypeError: ignored

In [25]:
variable_a + V_X

TypeError: ignored

In [26]:
V_X # แสดงค่าละเอียดกว่า print

'-29.200000000000003'

In [27]:
# เปลี่ยน str เป็นตัวเลข
float(V_X)

-29.200000000000003

## Data Structure

### list()

In [28]:
list_a = [1,2,0.2,'abs'] # square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [29]:
list_a

[1, 2, 0.2, 'abs']

In [30]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [31]:
len(list_b) # ดูว่า list มีสมาชิกกี่ตัว

4

In [32]:
list_b[3] # ชี้ตัวที่ 3 ของlist_b

[1, 2, 0.0]

In [33]:
list_b[3][1] # ชี้ตัวที่ 3 ของlist_b และชี้ตัวที่ 1 ในตัวที่ 3 อีกที

2

string คือ list ของตัวหนังสือ

In [34]:
a = 'Stat KKU'

In [35]:
a[4]

' '

### วิธีสร้าง list ว่าง

In [36]:
list_c = list() # แบบที่ 1
list_d = [] # แบบที่ 2

In [37]:
list_c

[]

In [38]:
list_d

[]

เติมค่าลงใน list (.append)

In [39]:
list_d.append('a')

In [40]:
list_d

['a']

In [41]:
list_d.append(56)

In [42]:
list_d

['a', 56]

### การชี้ค่าใน list (indexing)


1.   ใช้ลำดับในการชี้
2.   ลำดับเริ่มจาก 0
3.   สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [43]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [44]:
list_b[-1] # ตัวหลังสุด

[1, 2, 0.0]

### list slicing

In [45]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง]->[ตัวหน้า,ตัวหลัง)

In [46]:
list_ex[1:6]

[2, 3, 5, 6, 8]

In [47]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [48]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

[จุดเริ่มต้น:จุดสุดท้าย:step]

In [49]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [50]:
list_ex[::2] # เลือกตัวแรกเว้น 1 เอาตัวที่ 2 (กระโดด)

[1, 3, 6, -1, 50]

In [51]:
list_ex[::-1] # ใช้ step -1 มันจะกลับข้าง list

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [52]:
a

'Stat KKU'

In [53]:
a[5:]

'KKU'

In [54]:
a[-3:]

'KKU'

In [55]:
a[5:8]

'KKU'

In [56]:
a[5::]

'KKU'

In [57]:
a[-3::]

'KKU'

In [58]:
a[-3::1]

'KKU'

### list + list

In [59]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abs']
[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [60]:
list_a + list_b # list 2 ตัวต่อกัน

[1, 2, 0.2, 'abs', 2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0]]

In [61]:
list_b + list_a # ถ้าสลับตำแหน่งก็จะเรียงสลับก่อน

[2, 'xyz', [1, 2, 0.2, 'abs'], [1, 2, 0.0], 1, 2, 0.2, 'abs']

format string

``` python
f'string{ตัวแปร}'
```

In [62]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abs']"

### Loop
ทำงานซ้ำๆ หรือ ทำงานคล้ายๆกัน

indent
``` python
for ตัวแปรที่จะรับค่าจากลิตส์ in ลิตส์ที่จะนำมาวนลูป:
    do somthig
    do another thing

do other things#out side loop
```

In [63]:
for i in [1,2,3,4,5]:
    print(i+1)

2
3
4
5
6

In [64]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [65]:
list5 = [1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')
# วนลูปโดยใช้ชื่อเดิมลูปเดิม

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [66]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
for i in range(2,7): # เริ่มจาก 2 ถึงตัวก่อน 7
    print(i)

2
3
4
5
6

In [68]:
for i in range(2,7,2): # เริ่มจาก 2ถึงตัวก่อน 7 กระโดด 1 ตัว Step2
    print(i)

2
4
6

In [69]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [70]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

### Nested loop

In [71]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
      print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

## Condition (if statement)

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญญาลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
```

In [72]:
stringx = 'noicoihcljosjjcoghtdkfylfhdjisjvpw'

if len(stringx) > 30:
    print(f'{stringx} is longer than 30 characters') # ตวรจสอบว่ายาวเกิน 30 characters

noicoihcljosjjcoghtdkfylfhdjisjvpw is longer than 30 characters

In [73]:
stringx = 'noicoihcljosjjcoghtdkfylfhdjisjvpw'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 characters')
#เช็คแล้วไม่ถูกจะหลุดออกไป

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญญาลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ X
```

In [74]:
stringx = 'noicoihcljosjjcoghtdkfylfhdjisjvpw'

if len(stringx) > 100:
    print(f'{stringx} is longer than 30 characters')
else:
    print(f'{stringx} in {len(stringx)} characters') # แสดงผลว่ายาวกี่ characters

noicoihcljosjjcoghtdkfylfhdjisjvpw in 34 characters

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญญาลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
     ถ้าเงื่อนไขเป็นจริง ทำงานที่ a1
     ถ้าเงื่อนไขเป็นจริง ทำงานที่ a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
     ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1
     ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ X
```

In [75]:
password = '12345'

input_pass = '123sf'
if input_pass == password:
    prin('welcome!') # รหัสผ่านถูกจะแสดง welcome!
elif len(input_pass) > len(password):
    print('Too long, try again!') # บอกใบ้ว่า password ยาวเกินไป ลองใหม่อีกครั้ง
elif len(input_pass) < len(password):
    print('Too short, try again!') # บอกใบ้ว่า password สั้นเกินไป ลองใหม่อีกครั้ง
else:
    print('Wrong password, try again!') # บอกใบ้ว่า password ผิด ลองใหม่อีกครั้ง

Wrong password, try again!

Quiz 1 หา min

In [76]:
list_ex = [1,5,9,-19,2,0] # หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min (commit ก่อน 10:30 :Quiz1)

In [77]:
list_ex[3: 4 : 2]

[-19]

In [78]:
# เฉลย
min = 1000000
for i in list_ex:
    if i < min:
        min = i
print(min)

-19

In [79]:
min = 1000000
print(list_ex)
for i in list_ex:
    print(f'now i = {i}, min = {min}')
    print('start condition')
    if i < min:
        print(f'1 < min, update min -> {i}')
        min = i
    else:
        print('i >= min, not update')
    print('end condition, go to next i')
print(min)

[1, 5, 9, -19, 2, 0]
now i = 1, min = 1000000
start condition
1 < min, update min -> 1
end condition, go to next i
now i = 5, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = 9, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = -19, min = 1
start condition
1 < min, update min -> -19
end condition, go to next i
now i = 2, min = -19
start condition
i >= min, not update
end condition, go to next i
now i = 0, min = -19
start condition
i >= min, not update
end condition, go to next i
-19

Hw3 ตัดเกรด

In [80]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10] # ตัดเกรดคะแนนใน list score (ใช้ if กับ for)

In [82]:
for i in score:

  if i >= 80:
    print(f'{i} คะแนน ได้เกรด A')
  elif i >= 75 and i < 80:
    print(f'{i} คะแนน ได้เกรด B+')
  elif i >= 70 and i < 75:
    print(f'{i} คะแนน ได้เกรด B')
  elif i >= 65 and i < 70:
    print(f'{i} คะแนน ได้เกรด C+')
  elif i >= 60 and i < 65:
    print(f'{i} คะแนน ได้เกรด C')
  elif i >= 55 and i < 60:
    print(f'{i} คะแนน ได้เกรด D+')
  elif i >= 50 and i < 55:
    print(f'{i} คะแนน ได้เกรด D')
  else:
    print(f'{i} คะแนน ได้เกรด F')

49 คะแนน ได้เกรด F
65 คะแนน ได้เกรด C+
70 คะแนน ได้เกรด B
95 คะแนน ได้เกรด A
82 คะแนน ได้เกรด A
55 คะแนน ได้เกรด D+
89 คะแนน ได้เกรด A
20 คะแนน ได้เกรด F
77 คะแนน ได้เกรด B+
77 คะแนน ได้เกรด B+
81 คะแนน ได้เกรด A
59 คะแนน ได้เกรด D+
10 คะแนน ได้เกรด F

## Function