<a href="https://colab.research.google.com/github/Nunticha24/DWDM21/blob/main/Project_lookmhee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/PROJECT_DWDM'

#**ข้อมูลชุดที่ 1 จำนวนผู้ลงทะเบียนใช้บริการอินเทอร์เน็ตความเร็วสูง**

https://data.go.th/dataset/broadband-subscribers?fbclid=IwAR2hJLTNGiEnMNwRApUdbzzaFUj-1_Ag7HWgdZPxX-oaEKw2PBU0_W3-_m0

In [4]:
data_subscriber = pd.read_csv(os.path.join(path,'10broadband-subscribers.csv')) #จำนวนผู้ลงทะเบียนใช้บริการอินเทอร์เน็ตความเร็วสูงเก็บไว้ในตัวแปร data_subscriber
data_subscriber

    No.  ...  VALUE (SUM)_SUBSCRIBER
0     4  ...               652726.00
1     3  ...               529530.00
2     2  ...               453043.00
3     1  ...               365219.00
4     8  ...              1231344.00
..  ...  ...                     ...
68   72  ...             11478264.92
69   71  ...             11282645.58
70   70  ...             10912996.14
71   69  ...             10264995.67
72   73  ...             11876158.44

[73 rows x 5 columns]

In [5]:
data_subscriber2 = data_subscriber.sort_values(by=['No.']) #เรียงข้อมูลโดยใช้ No. เก็บในตัวแปร data_subscriber2
data_subscriber2

    No.  ...  VALUE (SUM)_SUBSCRIBER
3     1  ...               365219.00
2     2  ...               453043.00
1     3  ...               529530.00
0     4  ...               652726.00
7     5  ...               785931.00
..  ...  ...                     ...
71   69  ...             10264995.67
70   70  ...             10912996.14
69   71  ...             11282645.58
68   72  ...             11478264.92
72   73  ...             11876158.44

[73 rows x 5 columns]

#**ข้อมูลชุดที่ 2 อัตราการเข้าถึงของบริการอินเทอร์เน็ตความเร็วสูงต่อจำนวนครัวเรือน**

https://data.go.th/dataset/broadband-penetration-per-household?fbclid=IwAR0tNweDa7pmiAaygo0Z88iFFIYLtQRFjujfaIyEpUub_bFVQEkcCbXAZJc

In [6]:
data_household = pd.read_csv(os.path.join(path,'12broadband-penetration-per-household-.csv')) #อัตราการเข้าถึงของบริการอินเทอร์เน็ตความเร็วสูงต่อจำนวนครัวเรือนเก็บไว้ในตัวแปร data_household
data_household

    No.     type_HOUSEHOLD  ...  YEAR / QUARTER (DATE) (YEAR)  VALUE (SUM)_HOUSEHOLD
0     4  per household (%)  ...                          2003               0.000649
1     3  per household (%)  ...                          2003               0.000459
2     2  per household (%)  ...                          2003               0.000343
3     1  per household (%)  ...                          2003               0.000281
4     8  per household (%)  ...                          2004               0.008716
..  ...                ...  ...                           ...                    ...
68   72  per household (%)  ...                          2020               0.514683
69   71  per household (%)  ...                          2020               0.515873
70   70  per household (%)  ...                          2020               0.498972
71   69  per household (%)  ...                          2020               0.469344
72   73  per household (%)  ...                          2021               0.532524

[73 rows x 5 columns]

In [7]:
data_household2 = data_household.sort_values(by=['No.'])  #เรียงข้อมูลโดยใช้ No. เก็บในตัวแปร data_household2
data_household2

    No.     type_HOUSEHOLD  ...  YEAR / QUARTER (DATE) (YEAR)  VALUE (SUM)_HOUSEHOLD
3     1  per household (%)  ...                          2003               0.000281
2     2  per household (%)  ...                          2003               0.000343
1     3  per household (%)  ...                          2003               0.000459
0     4  per household (%)  ...                          2003               0.000649
7     5  per household (%)  ...                          2004               0.001556
..  ...                ...  ...                           ...                    ...
71   69  per household (%)  ...                          2020               0.469344
70   70  per household (%)  ...                          2020               0.498972
69   71  per household (%)  ...                          2020               0.515873
68   72  per household (%)  ...                          2020               0.514683
72   73  per household (%)  ...                          2021               0.532524

[73 rows x 5 columns]

#**ข้อมูลชุดที่ 3 อัตราการเข้าถึงของบริการอินเทอร์เน็ตความเร็วสูงต่อจำนวนประชากร**

https://data.go.th/dataset/broadband-penetration-per-population?fbclid=IwAR0D5Z4yxZOXJYPM9hgBJpAVbuWBkxwNzEdW_jWwlvvkCKQxaGERqrxffFs

In [8]:
data_population = pd.read_csv(os.path.join(path,'11broadband-penetration-per-population-.csv'))  #อัตราการเข้าถึงของบริการอินเทอร์เน็ตความเร็วสูงต่อจำนวนประชากร ชื่อ data_population
data_population

    No.     type_POPULATION  ...  YEAR / QUARTER (DATE) (YEAR)  VALUE_POPULATION
0     1  per population (%)  ...                          2003             0.01%
1     2  per population (%)  ...                          2003             0.01%
2     3  per population (%)  ...                          2003             0.01%
3     4  per population (%)  ...                          2003             0.02%
4     5  per population (%)  ...                          2004             0.05%
..  ...                 ...  ...                           ...               ...
68   69  per population (%)  ...                          2020            15.10%
69   70  per population (%)  ...                          2020            16.05%
70   71  per population (%)  ...                          2020            16.59%
71   72  per population (%)  ...                          2020            16.85%
72   73  per population (%)  ...                          2021            17.40%

[73 rows x 5 columns]

##**เช็ค Missing**

In [9]:
data_household2.isnull().any()  #check missing ตาราง data_household2 ขึ้น False คือไม่มี Missing

No.                                False
type_HOUSEHOLD                     False
YEAR / QUARTER (DATE) (QUARTER)    False
YEAR / QUARTER (DATE) (YEAR)       False
VALUE (SUM)_HOUSEHOLD              False
dtype: bool

In [10]:
data_subscriber2.isnull().any()  #check missing ตาราง data_subscriber2

No.                                   False
YEAR / QUARTER (DATE) (QUARTER)       False
Thailand Internet Users_SUBSCRIBER    False
YEAR / QUARTER (DATE) (YEAR)          False
VALUE (SUM)_SUBSCRIBER                False
dtype: bool

In [11]:
data_population.isnull().any()  #check missing ตาราง data_population

No.                                False
type_POPULATION                    False
YEAR / QUARTER (DATE) (QUARTER)    False
YEAR / QUARTER (DATE) (YEAR)       False
VALUE_POPULATION                   False
dtype: bool

##**ต่อตาราง**

In [12]:
data_population.drop(['YEAR / QUARTER (DATE) (QUARTER)','YEAR / QUARTER (DATE) (YEAR)'], axis=1, inplace=True)  #drop colunm ไตรมาสกับปีออกเพราะชุดข้อมูลที่จะเชื่อมมีเหมือนกัน
data_population

    No.     type_POPULATION VALUE_POPULATION
0     1  per population (%)            0.01%
1     2  per population (%)            0.01%
2     3  per population (%)            0.01%
3     4  per population (%)            0.02%
4     5  per population (%)            0.05%
..  ...                 ...              ...
68   69  per population (%)           15.10%
69   70  per population (%)           16.05%
70   71  per population (%)           16.59%
71   72  per population (%)           16.85%
72   73  per population (%)           17.40%

[73 rows x 3 columns]

In [13]:
merge_table = data_subscriber2.merge(data_population,how='left', left_on='No.',right_on='No.')  # เชื่อมตาราง data_subscriber2 กับ data_population  โดยให้ตาราง data_subscriber2 เป็นตารางหลักอยู่ที่ด้านซ้าย
merge_table

    No.  YEAR / QUARTER (DATE) (QUARTER)  ...     type_POPULATION  VALUE_POPULATION
0     1                                1  ...  per population (%)             0.01%
1     2                                2  ...  per population (%)             0.01%
2     3                                3  ...  per population (%)             0.01%
3     4                                4  ...  per population (%)             0.02%
4     5                                1  ...  per population (%)             0.05%
..  ...                              ...  ...                 ...               ...
68   69                                1  ...  per population (%)            15.10%
69   70                                2  ...  per population (%)            16.05%
70   71                                3  ...  per population (%)            16.59%
71   72                                4  ...  per population (%)            16.85%
72   73                                1  ...  per population (%)            17.40%

[73 rows x 7 columns]

In [14]:
data_household2.drop(['YEAR / QUARTER (DATE) (QUARTER)','YEAR / QUARTER (DATE) (YEAR)'], axis=1, inplace=True)  #drop ปีกับไตรมาสออก
data_household2

    No.     type_HOUSEHOLD  VALUE (SUM)_HOUSEHOLD
3     1  per household (%)               0.000281
2     2  per household (%)               0.000343
1     3  per household (%)               0.000459
0     4  per household (%)               0.000649
7     5  per household (%)               0.001556
..  ...                ...                    ...
71   69  per household (%)               0.469344
70   70  per household (%)               0.498972
69   71  per household (%)               0.515873
68   72  per household (%)               0.514683
72   73  per household (%)               0.532524

[73 rows x 3 columns]

In [15]:
merge_table2 = merge_table.merge(data_household2,how='left', left_on='No.',right_on='No.')  # เชื่อมตาราง merge_table และ data_household2  โดยให้ตาราง merge_table เป็นตารางหลักอยู่ที่ด้านซ้าย
merge_table2

    No.  ...  VALUE (SUM)_HOUSEHOLD
0     1  ...               0.000281
1     2  ...               0.000343
2     3  ...               0.000459
3     4  ...               0.000649
4     5  ...               0.001556
..  ...  ...                    ...
68   69  ...               0.469344
69   70  ...               0.498972
70   71  ...               0.515873
71   72  ...               0.514683
72   73  ...               0.532524

[73 rows x 9 columns]

#**ชุดข้อมูลที่อาจารย์ให้หาเพิ่ม จำนวนเลขหมายโทรศัพท์เคลื่อนที่ที่ได้รับการจดทะเบียน**

https://data.go.th/dataset/mobile-subscribers?fbclid=IwAR3ZoY2gqT_ogfZwHHI40nC_ejcmi3O9xZMOmcac_rCCdA5brXcHVh85Ayw

In [16]:
data_mobile = pd.read_csv(os.path.join(path,'05mobile-subscribers.csv'))  #จำนวนเลขหมายโทรศัพท์เคลื่อนที่ที่ได้รับการจดทะเบียน เก็บในตัวแปรชื่อdata_mobile
data_mobile

    No. Mobile Market Report  ...  YEAR / QUARTER (DATE) (YEAR)  VALUE (SUM)_MOBILE
0     4   Mobile Subscribers  ...                          2002            17449890
1     3   Mobile Subscribers  ...                          2002            15743776
2     2   Mobile Subscribers  ...                          2002            12416261
3     1   Mobile Subscribers  ...                          2002             9669909
4     8   Mobile Subscribers  ...                          2003            21616910
..  ...                  ...  ...                           ...                 ...
72   76   Mobile Subscribers  ...                          2020           116294420
73   75   Mobile Subscribers  ...                          2020           119169759
74   74   Mobile Subscribers  ...                          2020           131881072
75   73   Mobile Subscribers  ...                          2020           132594791
76   77   Mobile Subscribers  ...                          2021           117562201

[77 rows x 5 columns]

In [17]:
data_mobile2 = data_mobile.sort_values(by=['No.'])  #เรียงข้อมูลตาม No.
data_mobile2

    No. Mobile Market Report  ...  YEAR / QUARTER (DATE) (YEAR)  VALUE (SUM)_MOBILE
3     1   Mobile Subscribers  ...                          2002             9669909
2     2   Mobile Subscribers  ...                          2002            12416261
1     3   Mobile Subscribers  ...                          2002            15743776
0     4   Mobile Subscribers  ...                          2002            17449890
7     5   Mobile Subscribers  ...                          2003            18763102
..  ...                  ...  ...                           ...                 ...
75   73   Mobile Subscribers  ...                          2020           132594791
74   74   Mobile Subscribers  ...                          2020           131881072
73   75   Mobile Subscribers  ...                          2020           119169759
72   76   Mobile Subscribers  ...                          2020           116294420
76   77   Mobile Subscribers  ...                          2021           117562201

[77 rows x 5 columns]

In [18]:
data_mobile2.drop(['YEAR / QUARTER (DATE) (QUARTER)','YEAR / QUARTER (DATE) (YEAR)'], axis=1, inplace=True)  #drop ปีและไตรมาสออกเพราะคอลัมน์ซ้ำ
data_mobile2

    No. Mobile Market Report  VALUE (SUM)_MOBILE
3     1   Mobile Subscribers             9669909
2     2   Mobile Subscribers            12416261
1     3   Mobile Subscribers            15743776
0     4   Mobile Subscribers            17449890
7     5   Mobile Subscribers            18763102
..  ...                  ...                 ...
75   73   Mobile Subscribers           132594791
74   74   Mobile Subscribers           131881072
73   75   Mobile Subscribers           119169759
72   76   Mobile Subscribers           116294420
76   77   Mobile Subscribers           117562201

[77 rows x 3 columns]

In [19]:
data_mobile3 = data_mobile2.iloc[4:,:]  #ตัดข้อมูล 4 แถวแรกออกเพราะมันเป็นของปี 2002 แต่ตาราง merge_table2 มันเริ่มที่ปี 2003
data_mobile3

    No. Mobile Market Report  VALUE (SUM)_MOBILE
7     5   Mobile Subscribers            18763102
6     6   Mobile Subscribers            19788956
5     7   Mobile Subscribers            20655866
4     8   Mobile Subscribers            21616910
11    9   Mobile Subscribers            23217311
..  ...                  ...                 ...
75   73   Mobile Subscribers           132594791
74   74   Mobile Subscribers           131881072
73   75   Mobile Subscribers           119169759
72   76   Mobile Subscribers           116294420
76   77   Mobile Subscribers           117562201

[73 rows x 3 columns]

In [20]:
merge_table3 = data_mobile3.merge(merge_table2,how='left', left_on='No.',right_on='No.')  # เชื่อมตาราง merge_table2 และ data_mobile เโดยให้ตาราง merge_table2 เป็นตารางหลักอยู่ที่ด้านซ้าย
merge_table3

    No. Mobile Market Report  ...     type_HOUSEHOLD  VALUE (SUM)_HOUSEHOLD
0     5   Mobile Subscribers  ...  per household (%)               0.001556
1     6   Mobile Subscribers  ...  per household (%)               0.002265
2     7   Mobile Subscribers  ...  per household (%)               0.004964
3     8   Mobile Subscribers  ...  per household (%)               0.008716
4     9   Mobile Subscribers  ...  per household (%)               0.015449
..  ...                  ...  ...                ...                    ...
68   73   Mobile Subscribers  ...  per household (%)               0.532524
69   74   Mobile Subscribers  ...                NaN                    NaN
70   75   Mobile Subscribers  ...                NaN                    NaN
71   76   Mobile Subscribers  ...                NaN                    NaN
72   77   Mobile Subscribers  ...                NaN                    NaN

[73 rows x 11 columns]

In [21]:
merge_table3.isnull().any()  #เช็คค่า Missing พบว่าขึ้นมีขึ้น  True นั่นคือมันมี Missing

No.                                   False
Mobile Market Report                  False
VALUE (SUM)_MOBILE                    False
YEAR / QUARTER (DATE) (QUARTER)        True
Thailand Internet Users_SUBSCRIBER     True
YEAR / QUARTER (DATE) (YEAR)           True
VALUE (SUM)_SUBSCRIBER                 True
type_POPULATION                        True
VALUE_POPULATION                       True
type_HOUSEHOLD                         True
VALUE (SUM)_HOUSEHOLD                  True
dtype: bool

In [22]:
merge_table3_drop = merge_table3.dropna()  #จัดการกับ Missing ด้วยการ dropna
merge_table3_drop

    No. Mobile Market Report  ...     type_HOUSEHOLD  VALUE (SUM)_HOUSEHOLD
0     5   Mobile Subscribers  ...  per household (%)               0.001556
1     6   Mobile Subscribers  ...  per household (%)               0.002265
2     7   Mobile Subscribers  ...  per household (%)               0.004964
3     8   Mobile Subscribers  ...  per household (%)               0.008716
4     9   Mobile Subscribers  ...  per household (%)               0.015449
..  ...                  ...  ...                ...                    ...
64   69   Mobile Subscribers  ...  per household (%)               0.469344
65   70   Mobile Subscribers  ...  per household (%)               0.498972
66   71   Mobile Subscribers  ...  per household (%)               0.515873
67   72   Mobile Subscribers  ...  per household (%)               0.514683
68   73   Mobile Subscribers  ...  per household (%)               0.532524

[69 rows x 11 columns]

In [23]:
merge_table3_drop.isnull().any() #เช็ค missing อีกรอบพบว่าไม่มีแล้ว

No.                                   False
Mobile Market Report                  False
VALUE (SUM)_MOBILE                    False
YEAR / QUARTER (DATE) (QUARTER)       False
Thailand Internet Users_SUBSCRIBER    False
YEAR / QUARTER (DATE) (YEAR)          False
VALUE (SUM)_SUBSCRIBER                False
type_POPULATION                       False
VALUE_POPULATION                      False
type_HOUSEHOLD                        False
VALUE (SUM)_HOUSEHOLD                 False
dtype: bool

In [24]:
removed = merge_table3.shape[0] - merge_table3_drop.shape[0]  #เช็คว่าข้อมูลหายไปกี% จากการ dropna

print(f'size before drop = {merge_table3.shape[0]}')
print(f'size aftre drop = {merge_table3_drop.shape[0]}')
print(f'we loss {100*(removed/merge_table3.shape[0])}% of data')

size before drop = 73
size aftre drop = 69
we loss 5.47945205479452% of data

**พบว่าจากการ dropna ข้อมูลหาย 5.47945205479452% ซึ่งยอมรับได้**